//vars
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

$bgc: lightblue
$secondary-color: lightgreen
$ternary-color: #fff
$font-color: #000

*
    box-sizing: border-box
    position: relative
    list-style-type: none
    font-size: 18px    
    border: 0
    margin: 0
    padding: 0
    font-family: monospace, sans-serif
    color: lighten($font-color, 20%)    

html, body
    width: 100%
    height: 100%
    background: -webkit-linear-gradient(to right, $bgc, lighten($bgc, 50%) )
    background: linear-gradient(to right, $bgc, lighten($bgc, 50%) )

h1,h2, h3, h4, h5, h6
    margin: 1.3rem 0  
    color: $font-color  

h2
    font-size: 1.6rem
    color: lighten($font-color, 30%)
    margin: 2rem 0

h3
    font-size: 1.2rem
    color: darken($bgc, 30%)
    margin: 1.3rem 0
h4
    font-size: 1rem
    color: lighten($font-color, 50%)
    margin: 0.5rem 0

div.content
    margin: 1rem 2rem
    position: relative

table td:hover
    background-color: darken($bgc, 10%)
    cursor: pointer
    transition: background-color .2s ease-in-out
    -webkit-transition: background-color .2s ease-in-out
    &:active        
        background-color: $secondary-color

div#dot
    position: fixed
    top: 2rem
    right: 2rem
    width: 4rem
    height: 4rem    
    border: .16rem solid $bgc
    border-radius: 50%
    cursor: pointer
    transition: all .2s ease
    line-height: 4rem
    text-align: center
    font-size: 2rem
    color: $bgc
    transition: all .2s ease-in-out
    -webkit-transition: all .5s ease-in-out 
    z-index: 999  
    &:hover
        box-shadow: 0 0 .3rem .1rem $secondary-color
        -webkit-transform: rotate(360deg)
        -ms-transform: rotate(360deg)
        transform: rotate(360deg)

div#menu
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $secondary-color
    z-index: 1
    text-align: center
    padding: 2rem
    -webkit-transform: translate3d( 0, 100vh, 0)
    transform: translate3d( 0, 100vh, 0)
    transition: -webkit-transform .6s cubic-bezier(.07,.69,.17,.94)
    transition: transform .6s cubic-bezier(.07,.69,.17,.94)
    transition: transform .6s cubic-bezier(.07,.69,.17,.94), -webkit-transform .6s cubic-bezier(.07,.69,.17,.94)
    &.show
        -webkit-transform: translate3d( 0, 0, 0)
        transform: translate3d( 0, 0, 0)
    ul li a        
        font-size: 2rem
        color: $ternary-color
        text-decoration: none



       
